body {
    margin-bottom: 60px; /* Margin bottom by footer height */
    background-image: url("./dark_wall.png");
    font-family: Arial,'Helvetica Neue', Helvetica, sans-serif;
    color: #777777;
    height: 100%;
  }

.main-column{
    background: #181818;
  }
  
h2{
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #c49b66;
    margin-top: 0.5rem;
    border-bottom: #c49b66 solid 2px;
    font-weight: bold;
    padding-bottom: 0.5rem;
  }
  h3 {
    color:#c49b66;
    background: #181818;
    font-size: 1.5rem;
    text-align: center;
    /* margin: 15px; */
    padding: 0.5rem;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
  }
  .justify-content-end{
    padding-right: 12rem;
  }

  .container {
    min-height:1180px;
  }
  .card{
        background: #181818;
 
  }
  .projects{
    border: #c49b66 outset 2px;
    min-height: 315px;
    background: #181818;
    margin-top: 2rem;
    margin-bottom: 2rem;
  }
  .card-header:first-child{
    border-bottom: #c49b66 solid 2px;
  }
  .card-header{
    background: #181818;
    font-family: 'Georgia', Times, 'Times New Roman', serif;
    color: #c49b66;
    font-size: 1.35rem;
    font-weight: bold;
  }
  .card-body {
    background: #4b4949;
  }

  .card-text{
    position: absolute;
    bottom: -1px;
    width: 100%;
  }

  h3 > a{
    color: #c49b66;
  }

  @media screen and (max-width: 980px){
    .row{margin-top: 0.5rem; margin-bottom: 0.5rem;}
  }