
.form-row{
    padding-bottom: 1rem;
    margin-left: 0rem;
  }
  #inputMessage{
    height: 15rem;
  }
  .form-control::placeholder{
    color: whitesmoke;
    opacity: 0.3;
  }
  .btn-success:disabled, .btn-success{
    background-color: #c49b66;
    border-color: #c49b66;
    color: #181818;
  }

  .form-control {
    background-color: #8d8b8b;
  }
